<div class="post-container">
  <div class="post-header">
    <h2><%= @post.title %> By <%= @post.author.name %></h2>
    <ul>
      <li>Comments: <%= @post.comment_counter %></li>
      <li>Likes: <%= @post.like_counter %></li>
    </ul>
  </div>
  <h4 class="comment-title">Comments</h4>
  <div class="post-body">
    <%= @post.text %>
        <% if can? :destroy, @post %>
            <%= button_to 'Delete', user_post_path(user_id: @post.author_id, id: @post.id),
                            method: :delete, data: { confirm: 'Are you sure you want to delete this post?' },
                            class: 'border' %>
        <% end %>
  </div>
<%= form_with(model: [@user, @post, @post.likes.build], url: user_post_likes_path(@user, @post), method: :post) do |form| %>
  <%= form.submit "Like" %>
<% end %>

  <h2 class='add-comment'>Add a Comment</h2>
  <%= render partial: 'comments/form', locals: { post: @post, comment: Comment.new } %>

  <div class="comment-container">
    <% @post.comments.each do |comment| %>
      <span><%= comment.author.name %> : <%= comment.text %></span>
              <% if can? :destroy, comment %>
          <%= button_to 'Delete', user_post_comment_path(user_id: @user.id, post_id: @post.id, id: comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>
  </div>
</div>

